AZURE_CONTENT_SAFETY_ENDPOINT=
AZURE_CONTENT_SAFETY_KEY=
AZURE_LANGUAGE_KEY=
AZURE_VIDEOINDEX_ENDPOINT=
AZURE_VISION_ENDPOINT=
AZURE_VISION_KEY=
AZURE_SUBSCRIPTION_ID=
AZURE_REGION=
AZURE_STT_KEY=
AZURE_STT_ENDPOINT=
AZURE_STT_AUDIO_PATH=